* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #f7f7f7;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #ffc107;
}

.header img {
  margin-right: 7rem;
  width: 40px;
  height: 45px;
}

.header p {
  color: #212529;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.navigations {
  background-color: #004085;
  width: 100%;
  height: 100px;
  color: #212529;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: fixed;
}

.navigations nav {
  width: 100%;
}

.navigations nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: #004085;
  color: #f7f7f7;
  font-size: x-small;
  font-weight: bold;
  padding: 10px;
}

.navigations nav ul li {
  padding: 2px;
  background-color: #004085;
  transition: background-color 0.3s, color 0.3s;
}

.navigations nav ul li:hover,
.navigations nav ul li.active {
  color: #212529;
  background-color: #ffc107;
}

.moving-text {
  display: inline-block;
  white-space: nowrap;
  animation: moveText 5s linear infinite;
  font-size: smaller;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

@keyframes moveText {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(-50%);
  }
}

.photos {
  color: #ffc107;
  padding: 5px;
}


.img-container {
  height: auto; 
  width: 100%;
  margin-top: 120px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}

.img-container img {
  height: 17rem;
  width: 22rem;
}
.flour-imgs {
  padding: 10px;
}
.flour-gallery {
  height: auto; 
  width: 100%;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}

.flour-imgs img {
  height: 14rem;
  width: 22rem; 
}

.paragraph {
  margin-top: 20px;
  padding: 4px;
  font-size: small;
  font-weight: bold;

  text-align: center;
}

.footer-container {
  height: 2rem;
  background-color: #212529;
  border-bottom: 3px solid #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  margin-top: 1rem;
  border-bottom: 3px solid #ffc107;
}

.footer-container footer {
  background-color: inherit;
  color: #f7f7f7;
  font-weight: bolder;
  text-align: center;
  font-size: x-small;
}
.fab {
  color: blue;
  font-size: 2rem;
  padding: 5px;
  border-radius: 12px;
}

.fa-brands {
  color: black;
  font-size: 2rem;
  padding: 5px;
  border-radius: 12px;
}

.a i:hover{
  color: #212529;
  background-color: rgb(228, 227, 227);
  
}
.contact {
  font-weight: bolder;
  text-align: center;
  font-size: small;

  background-color: #212529;
  margin-bottom: 0.5rem;
  border-bottom: 3px solid #004085;
}

.a {
  color: #f7f7f7;
  background-color: #212529;
  display: flex;
  justify-content: space-evenly;
}

